    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Any Contribution Helps!</h2>
              <p>Below are some of the awesome adventures we're hoping to do during our 2 weeks in the middle of the Pacific:</p>
              <br/>

            <div class="bora_item">
                <h3>Stay in an Overwater Bungalow</h3>
                <img src="honeymoon-fund/img/bungalow.jpg"/>
            </div>

            <hr class="intro-divider"/>


            <div class="bora_item">
                <h3>Jet Skiing with Reef Sharks!</h3>
                <img src="honeymoon-fund/img/sharkjetski.jpg"/>
            </div>

            <hr class="intro-divider"/>

            <div class="bora_item">
                <h3>Catamaran & Snorkeling</h3>
                <img src="honeymoon-fund/img/catamaran.jpg"/>
            </div>

            <hr class="intro-divider"/>

            
            <div class="bora_item">
                <h3>Island ATV Tour</h3>
                <img src="honeymoon-fund/img/atvtour.jpg"/>
            </div>
              </div>
        </div>
    </section>
